importing libraries

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score,precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression

In [21]:
df = pd.read_csv(r"C:\DATASCIENCE\DATASET\AI in Retail Dataset.csv",encoding='latin-1')
df.head()
df.head()

,Country,Online_Consumer,Age,Annual_Salary,Gender,Education,Payment_Method_Credit/Debit,Living_Region,Online_Service_Preference,AI_Endorsement,...,AI_Tools_Used _Chatbots,AI_Tools_Used_Virtual_Assistant,AI_Tools_Used_Voice&Photo_Search,Payment_Method_COD,Payment_Method_Ewallet,Product_Category_Appliances,Product_Category_Electronics,Product_Category_Groceries,Product_Category_Personal_Care,Product_Category_Clothing
0,INDIA,YES,Gen X,Medium High,Female,Masters Degree,NO,Metropolitan,NO,YES,...,YES,YES,YES,YES,NO,YES,YES,YES,YES,YES
1,INDIA,YES,Gen Z,Low,Male,University Graduate,YES,Metropolitan,NO,YES,...,YES,YES,YES,YES,YES,YES,YES,NO,NO,NO
2,INDIA,YES,Gen X,Medium High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,YES,NO,YES,YES,YES,YES,YES,NO,NO
3,INDIA,YES,Gen X,High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,NO,NO,YES,YES,YES,YES,YES,NO,YES
4,INDIA,YES,Gen Z,Low,Male,University Graduate,NO,Rural Areas,YES,YES,...,YES,NO,NO,YES,YES,YES,NO,YES,NO,YES

In [22]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           656 non-null    object
 1   Online_Consumer                   656 non-null    object
 2   Age                               656 non-null    object
 3   Annual_Salary                     656 non-null    object
 4   Gender                            656 non-null    object
 5   Education                         656 non-null    object
 6   Payment_Method_Credit/Debit       656 non-null    object
 7   Living_Region                     656 non-null    object
 8   Online_Service_Preference         656 non-null    object
 9   AI_Endorsement                    656 non-null    object
 10  AI_Privacy_No_Trust               656 non-null    object
 11  AI_Enhance_Experience             656 non-null    object
 12  AI_Satisfication                  656 non-null    object
 13  AI_Tools_Used _Chatbots           656 non-null    object
 14  AI_Tools_Used_Virtual_Assistant   656 non-null    object
 15  AI_Tools_Used_Voice&Photo_Search  656 non-null    object
 16  Payment_Method_COD                656 non-null    object
 17  Payment_Method_Ewallet            656 non-null    object
 18  Product_Category_Appliances       656 non-null    object
 19  Product_Category_Electronics      656 non-null    object
 20  Product_Category_Groceries        656 non-null    object
 21  Product_Category_Personal_Care    656 non-null    object
 22  Product_Category_Clothing         656 non-null    object
dtypes: object(23)
memory usage: 118.0+ KB

In [23]:
df.isna().sum()

Country                             0
Online_Consumer                     0
Age                                 0
Annual_Salary                       0
Gender                              0
Education                           0
Payment_Method_Credit/Debit         0
Living_Region                       0
Online_Service_Preference           0
AI_Endorsement                      0
AI_Privacy_No_Trust                 0
AI_Enhance_Experience               0
AI_Satisfication                    0
AI_Tools_Used _Chatbots             0
AI_Tools_Used_Virtual_Assistant     0
AI_Tools_Used_Voice&Photo_Search    0
Payment_Method_COD                  0
Payment_Method_Ewallet              0
Product_Category_Appliances         0
Product_Category_Electronics        0
Product_Category_Groceries          0
Product_Category_Personal_Care      0
Product_Category_Clothing           0
dtype: int64

In [24]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [25]:
df.shape
df.describe()

,Country,Online_Consumer,Age,Annual_Salary,Gender,Education,Payment_Method_Credit/Debit,Living_Region,Online_Service_Preference,AI_Endorsement,...,AI_Tools_Used _Chatbots,AI_Tools_Used_Virtual_Assistant,AI_Tools_Used_Voice&Photo_Search,Payment_Method_COD,Payment_Method_Ewallet,Product_Category_Appliances,Product_Category_Electronics,Product_Category_Groceries,Product_Category_Personal_Care,Product_Category_Clothing
count,648,648,648,648,648,648,648,648,648,648,...,648,648,648,648,648,648,648,648,648,648
unique,3,2,4,4,3,4,2,3,2,2,...,2,2,2,2,2,2,2,2,2,2
top,CHINA,YES,Millennials,High,Female,University Graduate,YES,Metropolitan,YES,YES,...,NO,NO,NO,NO,NO,YES,YES,NO,YES,YES
freq,252,633,358,224,354,340,423,430,478,552,...,352,352,399,454,399,329,432,366,341,478

In [26]:
df.head()

,Country,Online_Consumer,Age,Annual_Salary,Gender,Education,Payment_Method_Credit/Debit,Living_Region,Online_Service_Preference,AI_Endorsement,...,AI_Tools_Used _Chatbots,AI_Tools_Used_Virtual_Assistant,AI_Tools_Used_Voice&Photo_Search,Payment_Method_COD,Payment_Method_Ewallet,Product_Category_Appliances,Product_Category_Electronics,Product_Category_Groceries,Product_Category_Personal_Care,Product_Category_Clothing
0,INDIA,YES,Gen X,Medium High,Female,Masters Degree,NO,Metropolitan,NO,YES,...,YES,YES,YES,YES,NO,YES,YES,YES,YES,YES
1,INDIA,YES,Gen Z,Low,Male,University Graduate,YES,Metropolitan,NO,YES,...,YES,YES,YES,YES,YES,YES,YES,NO,NO,NO
2,INDIA,YES,Gen X,Medium High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,YES,NO,YES,YES,YES,YES,YES,NO,NO
3,INDIA,YES,Gen X,High,Male,University Graduate,YES,Rural Areas,YES,YES,...,NO,NO,NO,YES,YES,YES,YES,YES,NO,YES
4,INDIA,YES,Gen Z,Low,Male,University Graduate,NO,Rural Areas,YES,YES,...,YES,NO,NO,YES,YES,YES,NO,YES,NO,YES

In [27]:
le = LabelEncoder()
for column in df.columns:
    if df[column].dtype == type(object):
        df[column] = le.fit_transform(df[column])

In [28]:
X = df.copy()
X = X.drop(columns=['AI_Satisfication'])
y = df['AI_Satisfication']

In [29]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=0)
X_sampled, y_sampled = smote.fit_resample(X,y)

In [30]:
y_sampled.shape

(1058,)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X_sampled, y_sampled, test_size=0.25,random_state=0)

In [32]:
params = {
    'max_iter':[100, 200,500],
    'C':[0.1, 1, 10, 100],
    'fit_intercept':[True],
}
scoring = {'accuracy', 'precision', 'recall', 'f1'}
lr = LogisticRegression()
grcv_lr = GridSearchCV(lr, params ,scoring = scoring, cv=5, refit='f1')
grcv_lr.fit(X_train, y_train)
print(grcv_lr.best_estimator_)
print(grcv_lr.best_score_)

LogisticRegression(C=10)
0.8489878623957796

In [33]:
y_pred = grcv_lr.best_estimator_.predict(X_test)
print('Accuracy=',accuracy_score(y_test, y_pred))
print('Precision=',precision_score(y_test, y_pred))
print('Recall=',recall_score(y_test, y_pred))
print('F1 score=',f1_score(y_test, y_pred))

results = [{'Model' :'Logistic regression',
    'Accuracy':accuracy_score(y_test, y_pred),
           'Precision':precision_score(y_test, y_pred),
'recall': recall_score(y_test, y_pred),
'F1 score':f1_score(y_test, y_pred)
           }]

Accuracy= 0.8603773584905661
Precision= 0.8759124087591241
Recall= 0.8571428571428571
F1 score= 0.8664259927797834

In [34]:

xgb = XGBClassifier()
import warnings

# Suppress all warnings
warnings.filterwarnings('ignore')

params = {
    'max_depth':[None, 5],
'min_samples_leaf':[1,2],
'min_samples_split':[2,3],
    'n_estimators':[100, 300, 500]
}

gscv_xgb = GridSearchCV(xgb, params, scoring=scoring, cv=5, refit='f1')
gscv_xgb.fit(X_train, y_train)
y_pred = gscv_xgb.best_estimator_.predict(X_test)
print('Accuracy=',accuracy_score(y_test, y_pred))
print('Precision=',precision_score(y_test, y_pred))
print('Recall=',recall_score(y_test, y_pred))
print('F1 score=',f1_score(y_test, y_pred))
results.append([{'Model' :'XGBoost classifier',
    'Accuracy':accuracy_score(y_test, y_pred),
           'Precision':precision_score(y_test, y_pred),
'recall': recall_score(y_test, y_pred),
'F1 score':f1_score(y_test, y_pred)}])

Accuracy= 0.9207547169811321
Precision= 0.9219858156028369
Recall= 0.9285714285714286
F1 score= 0.9252669039145908

In [35]:
import warnings

# Suppress all warnings
warnings.filterwarnings('ignore')
xgb = XGBClassifier()

params = {
    'max_depth':[None, 5],
'min_samples_leaf':[1,2],
'min_samples_split':[2,3],
    'n_estimators':[100, 300, 500]
}

gscv_xgb = GridSearchCV(xgb, params, scoring=scoring, cv=5, refit='f1')
gscv_xgb.fit(X_train, y_train)
y_pred = gscv_xgb.best_estimator_.predict(X_test)
print('Accuracy=',accuracy_score(y_test, y_pred))
print('Precision=',precision_score(y_test, y_pred))
print('Recall=',recall_score(y_test, y_pred))
print('F1 score=',f1_score(y_test, y_pred))
results.append([{'Model' :'XGBoost classifier',
    'Accuracy':accuracy_score(y_test, y_pred),
           'Precision':precision_score(y_test, y_pred),
'recall': recall_score(y_test, y_pred),
'F1 score':f1_score(y_test, y_pred)
           }])
results

Accuracy= 0.9207547169811321
Precision= 0.9219858156028369
Recall= 0.9285714285714286
F1 score= 0.9252669039145908

[{'Model': 'Logistic regression',
  'Accuracy': 0.8603773584905661,
  'Precision': 0.8759124087591241,
  'recall': 0.8571428571428571,
  'F1 score': 0.8664259927797834},
 [{'Model': 'XGBoost classifier',
   'Accuracy': 0.9207547169811321,
   'Precision': 0.9219858156028369,
   'recall': 0.9285714285714286,
   'F1 score': 0.9252669039145908}],
 [{'Model': 'XGBoost classifier',
   'Accuracy': 0.9207547169811321,
   'Precision': 0.9219858156028369,
   'recall': 0.9285714285714286,
   'F1 score': 0.9252669039145908}]]

In [38]:
rfc = RandomForestClassifier(random_state=0)
params = {
    'max_depth':[None, 5],
'min_samples_leaf':[1,2],
'min_samples_split':[2,3],
    'n_estimators':[100, 300]
}

gscv_rfc = GridSearchCV(rfc, params, scoring=scoring, cv=5, refit='f1')
gscv_rfc.fit(X_train, y_train)
y_pred = gscv_rfc.best_estimator_.predict(X_test)
print('Accuracy=',accuracy_score(y_test, y_pred))
print('Precision=',precision_score(y_test, y_pred))
print('Recall=',recall_score(y_test, y_pred))
print('F1 score=',f1_score(y_test, y_pred))
print(y_pred)

results.append([{'Model' :'Random Forest classifier',
    'Accuracy':accuracy_score(y_test, y_pred),
           'Precision':precision_score(y_test, y_pred),
'recall': recall_score(y_test, y_pred),
'F1 score':f1_score(y_test, y_pred)
           }])

Accuracy= 0.8518518518518519
Precision= 0.6428571428571429
Recall= 0.32142857142857145
F1 score= 0.4285714285714286
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1]

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='lbfgs', max_iter=1000)
logreg.fit(X_train,y_train)
y_pred=logreg.predict(X_test)
df2=pd.DataFrame(X_test)
print(df2.to_string())
print(y_pred)
df2 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(df2.to_string())
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:',)
np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

     Country  Online_Consumer  Age  Annual_Salary  Gender  Education  Payment_Method_Credit/Debit  Living_Region  Online_Service_Preference  AI_Endorsement  AI_Privacy_No_Trust   AI_Enhance_Experience  AI_Tools_Used _Chatbots  AI_Tools_Used_Virtual_Assistant  AI_Tools_Used_Voice&Photo_Search  Payment_Method_COD  Payment_Method_Ewallet  Product_Category_Appliances  Product_Category_Electronics  Product_Category_Groceries  Product_Category_Personal_Care  Product_Category_Clothing
538        0                1    3              3       1          2                            1              2                          1               1                     1                      1                        1                                0                                 1                   0                       0                            1                             1                           1                               1                          1
500        0                1    2              3       0          1                            1              0                          1               1                     1                      1                        0                                0                                 0                   0                       0                            1                             1                           1                               0                          1
313        1                1    3              0       0          3                            0              0                          1               1                     0                      1                        1                                1                                 0                   0                       1                            1                             1                           1                               1                          1
631        0                1    3              0       0          3                            1              0                          1               1                     1                      1                        1                                0                                 0                   0                       0                            1                             1                           1                               1                          1
486        0                1    3              2       0          3                            1              0                          1               1                     1                      1                        1                                1                                 0                   0                       0                            0                             1                           0                               1                          1
518        0                1    1              2       0          3                            1              2                          1               1                     1                      1                        0                                1                                 0                   0                       0                            0                             1                           0                               0                          0
310        1                1    3              3       0          3                            0              2                          1               1                     1                      1                        0                                0                                 0                   0                       0                            0                             1                           1                               1                          1
247        1                1    0              0       1          1                            0              0                          1               0                     0                      1                        0                                0                                 0                   0                       0                            0                             0                           1                               0                          0
540        0                1    3              0       1          3                            1              2                          1               1                     1                      1                        0                                0                                 1                   0                       1                            0                             1                           0                               1                          1
85         2                1    3              1       0          2                            1              1                          1               0                     1                      1                        0                                0                                 0                   1                       0                            0                             0                           0                               0                          1
483        0                1    1              0       1          2                            1              2                          1               0                     1                      0                        1                                0                                 0                   0                       0                            1                             1                           0                               1                          0
598        0                1    3              2       1          3                            1              0                          1               1                     1                      1                        0                                1                                 0                   0                       1                            1                             1                           1                               1                          1
166        2                0    3              0       0          3                            0              0                          1               0                     1                      1                        0                                0                                 0                   0                       0                            0                             0                           0                               0                          0
246        1                1    3              0       0          2                            1              0                          1               1                     1                      1                        0                                0                                 1                   0                       1                            1                             1                           1                               1                          1
413        1                1    3              3       0          3                            0              0                          1               1                     0                      1                        0                                0                                 0                   0                       1                            1                             1                           1                               0                          1
256        1                1    1              0       0          1                            0              0                          0               1                     0                      0                        1                                0                                 0                   1                       0                            1                             1                           0                               1                          1
123        2                1    3              2       1          2                            1              0                          1               1                     1                      1                        1                                0                                 0                   1                       1                            0                             1                           0                               0                          1
609        0                1    3              3       0          1                            1              2                          0               0                     1                      1                        0                                0                                 0                   0                       0                            0                             0                           0                               0                          0
158        2                1    2              1       1          3                            0              1                          1               1                     1                      1                        1                                0                                 1                   0                       1                            0                             1                           0                               1                          0
416        1                1    3              0       1          1                            1              0                          1               1                     0                      0                        0                                1                                 0                   0                       0                            0                             0                           0                               1                          0
64         2                1    3              1       0          3                            1              0                          1               1                     1                      1                        1                                1                                 0                   0                       1                            0                             0                           0                               1                          1
258        1                1    3              0       0          0                            0              0                          1               1                     1                      1                        1                                1                                 0                   1                       1                            1                             1                           1                               1                          0
349        1                1    3              3       1          3                            0              0                          1               1                     1                      1                        0                                0                                 1                   1                       1                            1                             0                           1                               1                          1
398        1                1    1              3       0          3                            1              2                          1               1                     1                      1                        1                                0                                 1                   0                       0                            1                             0                           1                               0                          0
361        1                1    1              0       1          2                            0              0                          1               1                     1                      1                        1                                0                                 1                   1                       1                            0                             0                           1                               1                          1
448        0                1    3              3       1          3                            1              2                          1               1                     1                      1                        1                                1                                 0                   0                       1                            1                             1                           0                               0                          1
275        1                1    3              0       0          3                            0              0                          1               1                     1                      1                        0                                0                                 0                   0                       0                            1                             1                           1                               1                          1
404        1                1    1              3       0          1                            1              0                          0               1                     0                      0                        0                                1                                 0                   0                       0                            0                             0                           0                               0                          1
278        1                1    3              3       0          1                            1              0                          0               1                     1                      1                        0                                1                                 1                   1                       1                            1                             0                           1                               0                          0
653        0                1    3              0       0          3                            1              0                          1               0                     1                      1                        1                                0                                 0                   0                       0                            0                             0                           0                               0                          0
50         2                1    3              2       1          3                            1              0                          1               1                     1                      1                        1                                1                                 1                   0                       0                            0                             1                           1                               1                          1
505        0                1    3              2       1          1                            1              0                          1               0                     0                      1                        1                                1                                 0                   0                       0                            1                             1                           1                               1                          1
585        0                1    1              3       0          3                            1              2                          1               0                     1                      1                        0                                0                                 0                   0                       1                            1                             1                           0                               1                          1
497        0                1    2              1       1          3                            1              1                          0               1                     0                      1                        1                                1                                 0                   0                       0                            0                             0                           0                               0                          1
242        1                1    2              3       1          1                            0              0                          1               1                     0                      1                        1                                1                                 1                   0                       1                            1                             1                           1                               1                          1
584        0                1    3              2       0          3                            1              2                          1               1                     1                      1                        1                                0                                 0                   0                       1                            1                             1                           1                               1                          1
512        0                1    3              2       1          3                            1              2                          1               0                     1                      1                        1                                1                                 0                   0                       0                            0                             1                           0                               1                          0
75         2                1    2              1       0          3                            0              0                          1               1                     1                      1                        0                                0                                 0                   0                       1                            0                             0                           0                               0                          1
160        2                1    2              1       0          3                            1              0                          1               1                     1                      0                        1                                1                                 1                   1                       0                            0                             0                           0                               1                          0
650        0                1    3              0       1          2                            1              2                          1               1                     1                      1                        1                                1                                 1                   1                       1                            1                             1                           1                               1                          1